~$yNotes.docx
~WRL0005.tmp
.~$yNotes.docx
.~WRL0005.tmp
~$yNotes.docx
~WRL0005.tmp
UdemyIdentity1/.vs/UdemyIdentity1/v16/.suo
UdemyIdentity1/.vs/UdemyIdentity1/DesignTimeBuild/.dtbcache.v2
UdemyIdentity1/UdemyIdentity1/obj/Debug/netcoreapp3.1/UdemyIdentity1.csprojAssemblyReference.cache
UdemyIdentity1/.vs/UdemyIdentity1/v16/.suo
